<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../components/vc-query/vc-query.html">

<dom-module id="vc-home-map-image-big">
  <style include="shared-styles iron-flex iron-positioning iron-flex-alignment" is="custom-style">
     :host {
      display: flex;
      position: absolute;
      z-index: 2;
      min-width: 100%;
      height: 40%;
      /*--vc-home-map-image-responsive-width: 1024px;*/
    }
    
    .containerPercent {
      height: 100%;
    }
    
    .relative {
      position: relative;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
    }
    
    .textBig {
      position: absolute;
      top: -0.5em;
      width: 100%;
    }
    
    h6 {
      color: var(--primary-color-text);
      text-align: center;
      max-width: 90%;
      padding: 0.5em;
      font-style: italic;
      font-size: var(--vc-home-map-image-font-size);
    }
    
    img,
    iron-image {
      display: block;
      max-width: 100%;
      height: 100%;
      --iron-image-max-width: 100%;
      --iron-image-height: 100%;
    }
  </style>

  <template>

    <div id="mainBig" class="card transparentToolbar horizontal layout center-justified containerPercent">
      <div class="relative card bp-0-2 bc-white shadow">
        <iron-image src="[[_setsrcbig(src)]]"></iron-image>
        <div class="textBig">
          <div class="card horizontal transparentToolbar layout center-justified containerPercent">
            <h6 class="darkToolbar">[[desc]]</h6>
          </div>
        </div>
      </div>
    </div>

    <!--<vc-query responsivewidthparam='--vc-home-map-image-responsive-width' largescreen="{{largescreen}}"></vc-query>-->
    <vc-query responsivewidthparam="[[responsivewidthparam]]" largescreen="{{largescreen}}"></vc-query>

  </template>

  <script>
    Polymer({
      is: 'vc-home-map-image-big',
      properties: {
        index: {
          type: Number
        },
        currindex: {
          type: Number,
          observer: '_switchVisibility'
        },
        src: {
          type: String
        },
        desc: {
          type: String
        },
        top: {
          type: String,
          observer: '_topChanged'
        },
        params: {
          type: Array
        },
        largescreen: {
          type: Boolean,
          observer: '_largescreenChanged'
        },
        responsivewidthparam: {
          type: String,
          value: '1024px'
        }
      },

      _switchVisibility: function () {
        var that = this;
        if (that.currindex == that.index) {
          that.style.visibility = "visible";
          that.style.display = "block";
        }
        else {
          that.style.visibility = "hidden";
          that.style.display = "none";
        }
      },

      _settopbig: function () {
        var that = this;
        var top = Number(that.top.replace('%', ''));
        var result = ""
        if (top >= 50) {
          result = "1%";
        }
        return result;
      },

      _setbottombig: function () {
        var that = this;
        var top = Number(that.top.replace('%', ''));
        var result = ""
        if (top < 50) {
          result = "2%";
        }
        return result;
      },

      _setsrcbig: function (src) {
        if (src) {
          return src + "_big.jpeg";
        }
      },

      _topChanged: function () {
        var that = this;
        that.style.bottom = that._setbottombig();
        that.style.top = that._settopbig();
      },

      _largescreenChanged: function (newValue) {
        var that = this;
        if (that.params) {
          for (let param of that.params) {
            that.customStyle[param.name] = newValue ? param.smallvalue : param.largevalue;
          }
          that.updateStyles();
        }
      },

      attached: function () {
        var that = this;
        that._largescreenChanged(that.largescreen);
      },

      ready: function () {
        var that = this;
        that.params = [
          { name: '--vc-home-map-image-font-size', largevalue: '0.9em', smallvalue: '0.7em' }
        ];
      },

    });
  </script>
</dom-module>