<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="vc-home-map-image-small.html">
<link rel="import" href="vc-home-map-image-big.html">

<dom-module id="vc-home-map-image">
  <style include="shared-styles iron-flex iron-positioning iron-flex-alignment" is="custom-style">
     :host {
      display: block;
      min-width: 100%;
    }
    
    .position {
      min-width: 100%;
      height: 100%;
      position: relative;
    }
    
    .containerPercent {
      height: 100%;
    }
    
    img,
    iron-image {
      display: block;
      width: 100%;
      --iron-image-width: 100%;
    }
  </style>

  <template>

    <div class="transparentToolbar containerPercent card position">

      <iron-image src="../../images/home_map_background.jpeg"></iron-image>

      <template is="dom-repeat" items="[[places]]">
        <vc-home-map-image-small index="[[index]]" currindex="{{currindex}}" src="[[item.src]]" top="[[item.top]]" left="[[item.left]]"
          icon="[[item.icon]]">
        </vc-home-map-image-small>
        <vc-home-map-image-big index="[[index]]" currindex="[[currindex]]" src="[[item.src]]" desc="[[item.desc]]" top="[[item.top]]">
        </vc-home-map-image-big>
      </template>

    </div>

  </template>

  <script>
    Polymer({
      is: 'vc-home-map-image',
      properties: {
        currindex: {
          type: Number,
          value: -1
        },
        src: {
          type: String
        },
        desc: {
          type: String
        },
        top: {
          type: String
        },
        left: {
          type: String
        },
        places: {
          type: Array
        }
      }
    });
  </script>
</dom-module>