<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../components/vc-icons/vc-icons.html">
<link rel="import" href="../../components/vc-query/vc-query.html">
<link rel="import" href="vc-desc.html">

<dom-module id="vc-body">
  <style include="shared-styles iron-flex iron-flex-alignment" is="custom-style">
     :host {
      display: block;
      /*--vc-body-responsive-width: 720px;
      --vc-body-icon-responsive-width: 251px;*/
      /*DOES NOT WORK IF NOT SET BY VALUE IN HOST - Not set at init*/
      /*--vc-body-query-responsive-width: var(--vc-body-responsive-width);
      --vc-body-query-icon-responsive-width: var(--vc-body-icon-responsive-width);*/
      --vc-desc-p-color: var(--vc-body-p-color);
      --vc-desc-a-color: var(--vc-body-a-color);
      max-width: var(--vc-body-max-width, '');
      min-width: var(--vc-body-min-width, '');
      /*min-width: 352px;*/
      padding-left: var(--vc-body-margin-left);
    }
    
    .containerPercent {
      height: 100%;
    }
    
    h7,
    h1 {
      font-weight: bolder;
      color: var(--vc-body-h-color);
    }
    
    iron-icon {
      --iron-icon-fill-color: var(--secondary-color-dark);
      --iron-icon-stroke-color: rgba(0, 0, 0, 1);
      --iron-icon-height: var(--vc-body-iron-icon-size);
      --iron-icon-width: var(--vc-body-iron-icon-size);
      -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.5));
    }
    
    .imageWidth {
      width: var(--vc-body-image-width);
    }
    
    img,
    iron-image {
      display: block;
      width: var(--vc-body-image-width, '');
      max-width: var(--vc-body-image-max-width, '');
      --iron-image-width: var(--vc-body-image-width, '');
    }
    
    .vcStaffCircle {
      display: inline-block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      color: #555;
      background: url("../../images/vc_body_circle_background.jpeg");
      overflow: hidden;
      /*opacity: 1;*/
    }
  </style>

  <template>

    <div id="mainDiv" class$="{{mainDivClass}}">

      <template is="dom-if" if="[[!reverse]]">
        <template is="dom-if" if="[[src]]">
          <div class="transparentToolbar imageWidth">
            <template is="dom-if" if="[[!roundimage]]">
              <iron-image class="card bc-default shadow bp-0-2" src="[[src]]"></iron-image>
            </template>
            <template is="dom-if" if="[[roundimage]]">
              <div class="vcStaffCircle">
                <iron-image src="[[src]]"></iron-image>
              </div>
            </template>
          </div>
        </template>
        <template is="dom-if" if="[[icon]]">
          <div class="transparentToolbar">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
        </template>
        <template is="dom-if" if="[[_space()]]">
          <div class$="{{spaceClass}}">
          </div>
        </template>
        <div>
          <template is="dom-if" if="[[lbl]]">
            <h1>[[lbl]]</h1>
          </template>
          <template is="dom-if" if="[[desc]]">
            <vc-desc desc="[[desc]]"></vc-desc>
          </template>
        </div>
      </template>

      <template is="dom-if" if="[[reverse]]">
        <div>
          <template is="dom-if" if="[[lbl]]">
            <h1>[[lbl]]</h1>
          </template>
          <template is="dom-if" if="[[desc]]">
            <vc-desc desc="[[desc]]"></vc-desc>
          </template>
        </div>
        <template is="dom-if" if="[[_space()]]">
          <div class$="{{spaceClass}}">
          </div>
        </template>
        <template is="dom-if" if="[[src]]">
          <div class="transparentToolbar">
            <iron-image class="card bc-default shadow bp-0-2" src="[[src]]"></iron-image>
          </div>
        </template>
        <template is="dom-if" if="[[icon]]">
          <div class="transparentToolbar">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
        </template>
      </template>

    </div>

    <!--<vc-query responsivewidthparam='--vc-body-query-responsive-width' largescreen="{{largescreen}}"></vc-query>
    <vc-query responsivewidthparam='--vc-body-query-icon-responsive-width' largescreen="{{largescreenicon}}"></vc-query>-->

    <template is="dom-repeat" items="{{paramslist}}" as="params">
      <vc-query responsivewidthparam="[[params.responsivewith]]" largescreen="{{params.largescreen}}" narrow="[[narrow]]"></vc-query>
    </template>

  </template>

  <script>
    Polymer({
      is: 'vc-body',
      properties: {
        lbl: {
          type: String
        },
        desc: {
          type: Array
        },
        src: {
          type: String
        },
        icon: {
          type: String
        },
        reverse: {
          type: Boolean,
          value: false
        },
        roundimage: {
          type: Boolean,
          value: false
        },
        mainDivClass: {
          type: String,
          value: "containerPercent m-b-2 layout start-justified"
        },
        spaceClass: {
          type: String
        },
        align: {
          type: String,
          value: "horizontal"
        },
        margin: {
          type: Boolean
        },
        params: {
          type: Array,
          /*observer: '_paramsChanged'*/
        },
        paramslist: {
          type: Array,
          notify: true
          /*observer: '_largescreenChanged'*/
        },
        largescreen: {
          type: Array,
          /*observer: '_largescreenChanged'*/
        },
        responsivewidthparam: {
          type: String
        },
        scrollbar: {
          type: Boolean
        },
        widthdelta: {
          type: Number
        },
        narrow: {
          type: Boolean
        }
      },

      observers: [
        '_largescreenChanged(paramslist.*)',
        '_paramsChanged(params, scrollbar, widthdelta)'
      ],

      getScrollbarWidth: function () {
        var outer = document.createElement("div");
        outer.style.visibility = "hidden";
        outer.style.width = "100px";
        outer.style.msOverflowStyle = "scrollbar"; // needed for WinJS apps

        document.body.appendChild(outer);

        var widthNoScroll = outer.offsetWidth;
        // force scrollbars
        outer.style.overflow = "scroll";

        // add innerdiv
        var inner = document.createElement("div");
        inner.style.width = "100%";
        outer.appendChild(inner);

        var widthWithScroll = inner.offsetWidth;

        // remove divs
        outer.parentNode.removeChild(outer);

        return widthNoScroll - widthWithScroll;
      },

      _paramsChanged: function () {
        var that = this;
        var largeValueParam = '';
        var responsiveWidth = 0;
        var smallValue = '';
        var largeValue = '';
        var largeValueNumber = 0;
        var paramsList = [];
        var tempParams = [];
        var tempParam = {};
        var icon;
        var marginleft;
        var i = 1;
        var j = 0;
        var responsiveWidthParam = 0;
        var split = false;
        var minwidth;
        var scrollbarWidth = that.getScrollbarWidth();


        if (that.params) {
          for (let param of that.params) {
            if (param.name == '--vc-body-max-width') {
              split = true;
              largeValueParam = Number(param.largevalue.replace("px", ''));
            }
            if (param.name == '--vc-body-margin-left') {
              split = true;
              marginLeftParam = [Number(param.smallvalue.replace("px", '')), Number(param.largevalue.replace("px", ''))];
            }
          }


          if (split) {
            responsiveWidthParam = Number(that.getComputedStyleValue('--vc-body-max-width').replace("px", ''));
            while (responsiveWidth < responsiveWidthParam) {
              if (i == 1) {
                responsiveWidth = i * (marginLeftParam[0] + largeValueParam) + that.widthdelta[0] - marginLeftParam[0];
                if (that.scrollbar) {
                  responsiveWidth = responsiveWidth + scrollbarWidth;
                }
                smallValue = '100%';
                for (let paramIconSize of that.params) {
                  if (paramIconSize.name == '--vc-body-iron-icon-size') {
                    icon = paramIconSize;
                  }
                  if (paramIconSize.name == '--vc-body-margin-left') {
                    marginleft = paramIconSize;
                  }
                  minwidth = { name: '--vc-body-min-width', largevalue: largeValueParam + 'px', smallvalue: '90%' };
                }
                largeValueNumber = (largeValueParam + marginLeftParam[1]) * (i + 1);
              }
              else {
                responsiveWidth = i * (marginLeftParam[1] + largeValueParam) + that.widthdelta[1] - marginLeftParam[1];
                if (that.scrollbar) {
                  responsiveWidth = responsiveWidth + scrollbarWidth;
                }
                smallValue = largeValue;
                largeValueNumber = (largeValueParam + marginLeftParam[1]) * (i + 1) / i;
              }

              largeValue = largeValueNumber + "px";
              j = i - 1;
              if (i == 1) {
                paramsList[j] = { responsivewith: responsiveWidth + 'px', params: [{ name: '--vc-body-max-width', largevalue: largeValue, smallvalue: smallValue }, icon, marginleft, minwidth] };
              }
              else {
                paramsList[j] = { responsivewith: responsiveWidth + 'px', params: [{ name: '--vc-body-max-width', largevalue: largeValue, smallvalue: smallValue }] };

              }
              i++;
            }
          }
          else {
            responsiveWidth = that.responsivewidthparam;
            paramsList[0] = { responsivewith: responsiveWidth, params: that.params };
          }
          if (paramsList.length > 0) {
            that.paramslist = paramsList;
          }
        }
      },


      checkIfTrueBefore: function (index) {
        var that = this;
        if (index == 0) return false;
        if ((index >= 0) && (that.paramslist[index - 1].largescreen == true)) return true;
        else return false;
      },

      _largescreenChanged: function (newValue) {
        var that = this;
        var margin = "";
        var items;
        var value;
        var index = newValue.path.split(".")[1];

        if ((index)) {
          index = Number(index.replace('#', ''));
          value = this.get(newValue.path);
          items = that.paramslist[index].params;

          if (index == 0) {
            if (that.margin) {
              margin = value ? margin + "p-1" : margin + "p-4";
            }
            else {
              margin = value ? margin + "m-b-2" : margin + "m-b-1";
            }

            that.align = (value && ((that.icon == "") || (that.icon == undefined))) ? 'vertical' : 'horizontal';
            that.mainDivClass = "containerPercent layout start-justified" + " " + that.align + " " + margin;
            that.spaceClass = value ? "m-l-1" : "m-l-2";
          }

          if (!that.checkIfTrueBefore(index)) {
            for (let item of items) {
              that.customStyle[item.name] = value ? item.smallvalue : item.largevalue;
            }
          }

          that.updateStyles();
        }
      },

      windowResize: function () {
        var that = this;
        /*that._paramsChanged();*/
      },

      _space: function () {
        return ((this.src || this.icon) && (this.desc || this.lbl)) && (this.align = "horizontal");
      },

      attached: function () {
        var that = this;
        that._paramsChanged();
      },

      ready: function () {
        var that = this;

        if (document.readyState != 'loading') {
          /*this.domReady();*/
        } else {
          window.addEventListener('DOMContentLoaded', function () { that.domReady(); });
        }
        window.addEventListener("resize", function () { that.windowResize(); });
        if (that.width == "") {
          that.width.width = "0px";
        }
        that.windowResize();
      }

    });
  </script>
</dom-module>