<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="vc-news-header">

  <style include="shared-styles iron-flex iron-flex-alignment" is="custom-style">
     :host {
      display: block;
      min-width: var(--vc-news-header-min-width);
      --news-content-border: 1px;
    }   
    
    .titleText {
      color: var(--primary-color-text);
    }
    
    #mainDiv {
      border-width: var(--news-content-border, 0);
      margin-left: var(--vc-news-list-margin-left, 0);
      border-top-width: 0;
    }
  </style>

  <template>

    <div on-mouseover="_onHovered" on-mouseout="_onUnhovered">
      <div id="mainBar" class="layout vertical center-justified">
        <div class="layout horizontal start-justified titleText bk-default p-0-5">
          <div class$="{{littlecircleclass}}"></div>
          <div class$="{{littlecircleclass}}"></div>
          <div class$="{{littlecircleclass}}"></div>
        </div>
      </div>

      <div id="mainDiv" class$="{{maindivclass}}">
        <content>
        </content>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'vc-news-header',
      properties: {
        littlecircleclass: {
          type: String,
          value: "littleCircle bk-white"
        },
        maindivclass: {
          type: String,
          value: "layout vertical start-justified bc-default whiteToolbarBody p-0 m-0"
        },
      },

      _onHovered: function (event) {
        this.littlecircleclass = this.littlecircleclass.replace("bk-white", "bk-blue-dark");
        this.maindivclass = this.maindivclass.replace("bc-default", "bc-blue-dark");
      },

      _onUnhovered: function (event) {
        this.littlecircleclass = this.littlecircleclass.replace("bk-blue-dark", "bk-white");
        this.maindivclass = this.maindivclass.replace("bc-blue-dark", "bc-default");
      }

    });
  </script>
</dom-module>