<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="vc-news-header.html">
<link rel="import" href="vc-news-body.html">

<dom-module id="vc-news-list">
  <style include="shared-styles iron-flex iron-flex-alignment" is="custom-style">
     :host {
      display: block;
    }
    
    .containerPercent {
      height: 100%;
    }
  </style>

  <template>

    <div id="news" class="transparentToolbar horizontal layout left-justified containerPercent">
      <template is="dom-repeat" items="[[dataread]]" as="data">
        <vc-news-header responsivewidthparam="[[responsivewidthparam]]" narrow="[[narrow]]" params="[[vcnewsheaderparams]]">
          <vc-news-body src="[[data.src]]" lbl="[[data.lbl]]" desc="[[data.desc]]"></vc-news-body>
        </vc-news-header>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'vc-news-list',
      properties: {
        dataread: {
          type: Object
        },
        width: {
          type: Number,
          observer: "_widthChanged"
        },
        responsivewidthparam: {
          type: String
        },
        params: {
          type: Array,
          observer: '_paramsChanged'
        },
        vcnewsheaderparams: {
          type: Array
        },
        /*largescreen: {
          type: Boolean,
          observer: '_largeScreenChanged'
        },*/
        narrow: {
          type: Boolean
        }
      },

      _widthChanged: function (newValue, oldValue) {
        var that = this;
        that.$.news.style.width = newValue + "px";
      },

      _headersIs: function (type) {
        return function (header) {
          if (header.type == type) return true;
          if (header.type != type) return false;
        };
      },

      _bodiesIs: function (type) {
        return function (body) {
          if (body.type == type) return true;
          if (body.type != type) return false;
        };
      },

      setParams: function (switchstring) {
        var that = this;
        var newName = '';
        var newParam = {};
        var newParams = [];
        if (that.params) {
          for (let param of that.params) {
            newName = param.name.replace('vc-news-list', switchstring);
            newParam = { name: newName, largevalue: param.largevalue, smallvalue: param.smallvalue };
            newParams.push(newParam);
          }
        }
        return newParams;
      },

      _paramsChanged: function (newValue) {
        var that = this;
        if (newValue) {
          that.vcnewsheaderparams = that.setParams('vc-news-header');
        }
      }

    });
  </script>
</dom-module>