<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../vc-query/vc-query.html">
<link rel="import" href="vc-news-header-arrow.html">
<link rel="import" href="vc-news-animation-container.html">
<link rel="import" href="vc-news-list.html">

<dom-module id="vc-news-main">
  <style include="shared-styles iron-flex iron-flex-alignment" is="custom-style">
     :host {
      display: block;
      /*--vc-news-responsive-width: 416px;*/
    }
    
    .containerPercent {
      height: 100%;
      overflow: hidden;
    }
  </style>

  <template>

    <div class="transparentToolbar horizontal layout containerPercent">

      <vc-news-header-arrow class="flex-none" id="previous" src="vc-icons2:chevron-circle-left-o" showheader index="{{index}}"
        hideindex="0" width="[[width]]" move="{{move}}" transformparamfrom="{{transformparamfrom}}" transformparamto="{{transformparamto}}"></vc-news-header-arrow>

      <div class="transparentToolbar horizontal layout left-justified containerPercent">
        <vc-news-animation-container transformparamfrom="{{transformparamfrom}}" transformparamto="{{transformparamto}}" move="{{move}}">
          <vc-news-list dataread="[[dataread]]" width="[[width]]" responsivewidthparam="[[responsivewidthparam]]" narrow="[[narrow]]"
            params="[[vcnewslistparams]]"></vc-news-list>
        </vc-news-animation-container>
      </div>

      <vc-news-header-arrow class="flex-none" id="next" src="vc-icons2:chevron-circle-right-o" next="true" index="{{index}}" hideindex="[[lastindex]]"
        width="[[width]]" move="{{move}}" transformparamfrom="{{transformparamfrom}}" transformparamto="{{transformparamto}}"></vc-news-header-arrow>

    </div>

    <vc-query responsivewidthparam="[[responsivewidthparam]]" largescreen="{{largescreen}}" narrow="[[narrow]]"></vc-query>

  </template>

  <script>
    Polymer({
      is: 'vc-news-main',
      properties: {
        pagewidth: {
          type: Number
        },
        width: {
          type: Number,
          observer: "_setClass"
        },
        newsperpage: {
          type: Number
        },
        oldnewsperpage: {
          type: Number
        },
        dataread: {
          type: Object
        },
        index: {
          type: Number
        },
        lastindex: {
          type: Number
        },
        transformparamfrom: {
          type: Number
        },
        transformparamto: {
          type: Number
        },
        move: {
          type: Boolean
        },
        responsivewidthparam: {
          type: String
        },
        params: {
          type: Array,
          observer: '_paramsChanged'
        },
        vcnewslistparams: {
          type: Array
        },
        vcnewsmainparams: {
          type: Array
        },
        largescreen: {
          type: Boolean,
          observer: '_largeScreenChanged'
        },
        narrow: {
          type: Boolean
        }
      },

      observers: [
        '_bodiesChanged(dataread.*)'
      ],

      _bodiesChanged: function (newValue) {
        var that = this;
        that.windowResize();
      },

      _paramsChanged: function (newValue) {
        var that = this;
        var vcNewsListCheckParams = [];
        var vcNewsMainCheckParams = [];
        var newParam = {};
        if (newValue) {
          for (let param of newValue) {
            newParam = { name: param.name };
            vcNewsListCheckParams.push(newParam);
          }
          newParam = { name: '--vc-news-main-min-width' };
          vcNewsMainCheckParams.push(newParam);
          that.vcnewslistparams = that.setParams(vcNewsListCheckParams, 'vc-news-list');
          that.vcnewsmainparams = that.setParams(vcNewsMainCheckParams, '');
          that._largeScreenChanged(that.largescreen);
        }
      },

      _largeScreenChanged: function (newValue) {
        var that = this;
        if (that.vcnewsmainparams) {
          for (let param of that.vcnewsmainparams) {
            that.customStyle[param.name] = newValue ? param.smallvalue : param.largevalue;
          }
          that.updateStyles();
        }
      },

      attached: function () {
        var that = this;
        that.index = 0;
      },

      setParams: function (checkParams, renameParam) {
        var that = this;
        var newName = '';
        var newParam = {};
        var newParams = [];
        if (that.params) {
          for (let param of that.params) {
            for (let checkParam of checkParams) {
              if (param.name == checkParam.name) {
                if (renameParam) {
                  newName = param.name.replace('vc-news-main', renameParam);
                }
                else {
                  newName = param.name;
                }
                newParam = { name: newName, largevalue: param.largevalue, smallvalue: param.smallvalue };
                newParams.push(newParam);
              }
            }
          }
        }
        return newParams;
      },

      windowResize: function () {
        var that = this;
        var wNews = 0;
        var wNew = 0;
        var w = 0;
        var previousWidth = 0;
        var nextWidth = 0;

        previousWidth = Number(window.getComputedStyle(that.$.previous, null).getPropertyValue('width').replace('px', ''));
        nextWidth = Number(window.getComputedStyle(that.$.next, null).getPropertyValue('width').replace('px', ''));
        w = that.pagewidth - (previousWidth + nextWidth);
        wNew = Number(that.getComputedStyleValue('--vc-news-main-min-width').replace('px', ''));
        if (isNaN(wNew)) {
          wNew = w;
        }

        if (w >= wNew) {
          if (wNew > 0) {
            if (!that.oldnewsperpage) {
              that.oldnewsperpage = Math.floor(w / wNew);
              if (that.dataread) {
                if (that.dataread.length < that.oldnewsperpage) {
                  that.oldnewsperpage = that.dataread.length;
                }
              }
              if (that.oldnewsperpage == 0) {
                that.oldnewsperpage = 1;
              }
            }
            else {
              that.oldnewsperpage = that.newsperpage;
            }

            if (wNew > 0) {
              if (!that.newsperpage) {
                that.newsperpage = 1;
              }
              else {
                that.newsperpage = Math.floor(w / wNew);
                if (that.dataread) {
                  if (that.dataread.length < that.newsperpage) {
                    that.newsperpage = that.dataread.length;
                  }
                }
              }
              wNews = that.newsperpage * wNew;
            }
            if (wNews > 0) {
              if (that.dataread) {
                if (that.dataread.length > 0) {
                  that.lastindex = Math.ceil(that.dataread.length / that.newsperpage) - 1;
                }
              }
              that.width = wNews;
            }
          }
        }
      },

      _setClass: function (newValue, oldValue) {
        var that = this;
        var wNew = 0;
        var wNews = 0;
        var newIndex = 0;

        newIndex = Math.floor(that.index * that.oldnewsperpage / that.newsperpage);

        that.transformparamto = newValue * newIndex;
        if (!((that.oldnewsperpage == that.newsperpage) && (that.index == newIndex))) {
          that.transformparamfrom = oldValue * that.index;
        }
        else {
          that.transformparamfrom = that.transformparamto;
        }
        that.index = newIndex;
        that.move = true;
      },

      ready: function () {
        var that = this;
        if (document.readyState != 'loading') {
          /*this.domReady();*/
        } else {
          window.addEventListener('DOMContentLoaded', function () { that.domReady(); });
        }
        window.addEventListener("resize", function () { that.windowResize(); });
        if (that.width == "") {
          that.width.width = "0px";
        }
        that.responsivewidthparam = that.getComputedStyleValue('--vc-news-main-responsive-width');
        that.updateStyles();
      },

    });
  </script>
</dom-module>